<a href="https://colab.research.google.com/github/saraibare/1.-Extracci-n-de-datos/blob/main/Act_1_2_Filtros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Importamos librer√≠as requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import files

In [2]:
#Cargar archivo csv desde equipo
from google.colab import files
uploaded=files.upload()

Saving Datos de Facturaci√≥n.xlsx to Datos de Facturaci√≥n.xlsx

In [3]:
#Convertir en dataframe
df= pd.read_excel("Datos de Facturaci√≥n.xlsx")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10893 entries, 0 to 10892
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10893 non-null  object
 1   CVE_CLPV       10893 non-null  int64
 2   STATUS         10893 non-null  object
 3   CVE_VEND       10845 non-null  float64
 4   FECHAELAB      10893 non-null  datetime64[ns]
 5   FECHA_DOC      10893 non-null  datetime64[ns]
 6   FECHA_ENT      10893 non-null  object
 7   FECHA_VEN      10893 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CAN_TOT        10893 non-null  float64
 10  DES_TOT        10893 non-null  float64
 11  DES_FIN        10893 non-null  int64
dtypes: datetime64[ns](4), float64(3), int64(2), object(3)
memory usage: 1021.3+ KB

In [4]:
#1-CVE_CLPV      (valores: 1000 a 2000)
clpv = df[(df["CVE_CLPV"] >= 1000) & (df["CVE_CLPV"] <= 2000)]
clpv

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
9329,F32253,1982,E,1.0,2020-07-15 10:44:43.000,2020-07-15,2020-07-15 00:00:00,2020-07-15,NaT,1720.00,0.0,0
9330,F38098,1982,C,2.0,2022-05-06 10:55:53.770,2022-05-06,2022-04-28 00:00:00,2022-05-06,2022-05-06,1350.00,0.0,0
9331,F38100,1982,E,2.0,2022-05-06 11:11:44.367,2022-05-06,2022-04-28 00:00:00,2022-05-06,NaT,1350.00,0.0,0
9332,F38584,1967,E,2.0,2022-07-12 16:07:29.283,2022-07-12,2022-07-11 00:00:00,2022-07-12,NaT,485.34,0.0,0
9333,F38844,1967,E,1.0,2022-08-17 15:30:43.837,2022-08-17,2022-08-17 00:00:00,2022-08-17,NaT,1941.36,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9907,F38279,1016,E,1.0,2022-05-31 16:34:27.333,2022-05-31,2022-05-19 00:00:00,2022-06-30,NaT,1680.00,0.0,0
9908,F38459,1016,E,3.0,2022-06-24 12:59:07.730,2022-06-24,2022-06-15 00:00:00,2022-06-24,NaT,1125.00,0.0,0
9909,F38806,1016,E,1.0,2022-08-12 10:08:21.873,2022-08-12,2022-08-09 00:00:00,2022-08-12,NaT,3678.00,0.0,0
9910,F39361,1016,E,1.0,2022-10-21 09:55:59.020,2022-10-21,2022-10-18 00:00:00,2022-11-20,NaT,4200.00,0.0,0
9911,F40072,1016,E,1.0,2023-02-02 10:47:15.430,2023-02-02,2023-01-30 00:00:00,2023-03-04,NaT,2744.00,0.0,0

In [5]:
#2-CVE_VEND     (Todas las claves excepto ‚Äú5‚Äù y ‚Äú4‚Äù)
vend=df[~(df["CVE_VEND"] == 4) & ~(df["CVE_VEND"] == 5)]
vend

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F38624,9579,E,2.0,2022-07-20 13:27:35.717,2022-07-20,2022-07-20 00:00:00,2022-07-20,NaT,315.0000,0.0,0
1,F35992,9578,E,2.0,2021-08-31 08:45:14.460,2021-08-31,2021-08-30 00:00:00,2021-08-31,NaT,402.0000,0.0,0
2,F36269,9578,E,3.0,2021-09-28 16:16:41.763,2021-09-28,2021-09-28 00:00:00,2021-09-28,NaT,472.5000,0.0,0
3,F37774,9578,E,2.0,2022-03-30 17:29:55.257,2022-03-30,2022-03-29 00:00:00,2022-03-30,NaT,538.7900,0.0,0
4,F38169,9578,E,2.0,2022-05-16 18:08:34.513,2022-05-16,2022-05-16 00:00:00,2022-05-16,NaT,1018.7500,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10888,F38306,0,E,2.0,2022-06-03 09:19:22.850,2022-06-03,2022-06-03 00:00:00,2022-06-03,NaT,615.7570,0.0,0
10889,F38833,0,E,2.0,2022-08-17 10:13:18.113,2022-08-17,2022-08-17 00:00:00,2022-08-17,NaT,1533.1077,0.0,0
10890,F39410,0,E,2.0,2022-10-26 12:58:52.463,2022-10-26,2022-10-26 00:00:00,2022-10-26,NaT,96.0000,0.0,0
10891,F39854,0,E,2.0,2023-01-04 11:02:10.957,2023-01-04,2023-01-04 00:00:00,2023-01-04,NaT,851.6355,0.0,0
10892,F38024,0,E,2.0,2022-04-29 10:26:16.497,2022-04-29,2022-04-29 00:00:00,2022-04-29,NaT,550.0000,0.0,0

In [6]:
#3-FECHA_ENT   (Fechas de ‚Äú28/02/2022‚Äù)
fecha=df[df["FECHA_ENT"] == "2022-02-28 00:00:00"]
fecha

Empty DataFrame
Columns: [CVE_DOC, CVE_CLPV, STATUS, CVE_VEND, FECHAELAB, FECHA_DOC, FECHA_ENT, FECHA_VEN, FECHA_CANCELA, CAN_TOT, DES_TOT, DES_FIN]
Index: []

In [7]:
#4-CAN_TOT       (Cantidades menores a 5951.7)   o  STATUS (‚ÄúE‚Äù)
df[(df["CAN_TOT"] <= 5951.7) | (df["STATUS"] == "E")]

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
0,F38624,9579,E,2.0,2022-07-20 13:27:35.717,2022-07-20,2022-07-20 00:00:00,2022-07-20,NaT,315.0000,0.0,0
1,F35992,9578,E,2.0,2021-08-31 08:45:14.460,2021-08-31,2021-08-30 00:00:00,2021-08-31,NaT,402.0000,0.0,0
2,F36269,9578,E,3.0,2021-09-28 16:16:41.763,2021-09-28,2021-09-28 00:00:00,2021-09-28,NaT,472.5000,0.0,0
3,F37774,9578,E,2.0,2022-03-30 17:29:55.257,2022-03-30,2022-03-29 00:00:00,2022-03-30,NaT,538.7900,0.0,0
4,F38169,9578,E,2.0,2022-05-16 18:08:34.513,2022-05-16,2022-05-16 00:00:00,2022-05-16,NaT,1018.7500,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
10888,F38306,0,E,2.0,2022-06-03 09:19:22.850,2022-06-03,2022-06-03 00:00:00,2022-06-03,NaT,615.7570,0.0,0
10889,F38833,0,E,2.0,2022-08-17 10:13:18.113,2022-08-17,2022-08-17 00:00:00,2022-08-17,NaT,1533.1077,0.0,0
10890,F39410,0,E,2.0,2022-10-26 12:58:52.463,2022-10-26,2022-10-26 00:00:00,2022-10-26,NaT,96.0000,0.0,0
10891,F39854,0,E,2.0,2023-01-04 11:02:10.957,2023-01-04,2023-01-04 00:00:00,2023-01-04,NaT,851.6355,0.0,0
10892,F38024,0,E,2.0,2022-04-29 10:26:16.497,2022-04-29,2022-04-29 00:00:00,2022-04-29,NaT,550.0000,0.0,0

In [8]:
#5-Solo las columnas: CVE_DOC, FECHA_ENT, FECHA_VEN y CAN_TOT
columnas = df[['CVE_DOC', 'FECHA_ENT', 'FECHA_VEN', 'CAN_TOT']]
columnas

      CVE_DOC            FECHA_ENT  FECHA_VEN    CAN_TOT
0      F38624  2022-07-20 00:00:00 2022-07-20   315.0000
1      F35992  2021-08-30 00:00:00 2021-08-31   402.0000
2      F36269  2021-09-28 00:00:00 2021-09-28   472.5000
3      F37774  2022-03-29 00:00:00 2022-03-30   538.7900
4      F38169  2022-05-16 00:00:00 2022-05-16  1018.7500
...       ...                  ...        ...        ...
10888  F38306  2022-06-03 00:00:00 2022-06-03   615.7570
10889  F38833  2022-08-17 00:00:00 2022-08-17  1533.1077
10890  F39410  2022-10-26 00:00:00 2022-10-26    96.0000
10891  F39854  2023-01-04 00:00:00 2023-01-04   851.6355
10892  F38024  2022-04-29 00:00:00 2022-04-29   550.0000

[10893 rows x 4 columns]

In [9]:
#6-Solo las filas de 7001-7099
filas= df.iloc[7001:7100,: ]
filas

,CVE_DOC,CVE_CLPV,STATUS,CVE_VEND,FECHAELAB,FECHA_DOC,FECHA_ENT,FECHA_VEN,FECHA_CANCELA,CAN_TOT,DES_TOT,DES_FIN
7001,F30057,4695,E,1.0,2019-10-29 08:03:46.000,2019-10-29,2019-10-24 00:00:00,2019-12-28,NaT,9009.90,0.0,0
7002,F30148,4695,E,1.0,2019-11-05 08:48:30.000,2019-11-05,2019-11-05 00:00:00,2020-01-04,NaT,6625.00,0.0,0
7003,F30233,4695,E,1.0,2019-11-12 13:00:33.000,2019-11-12,2019-11-12 00:00:00,2020-01-11,NaT,5300.25,0.0,0
7004,F31257,4695,E,1.0,2020-02-25 08:26:22.000,2020-02-25,2020-02-28 00:00:00,2020-04-25,NaT,4963.50,0.0,0
7005,F32349,4695,E,5.0,2020-07-27 10:05:38.000,2020-07-27,2020-07-21 00:00:00,2020-09-25,NaT,22316.40,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
7095,F39331,4649,E,2.0,2022-10-18 16:11:30.233,2022-10-18,2022-10-18 00:00:00,2022-10-18,NaT,1425.00,0.0,0
7096,F39558,4649,E,2.0,2022-11-11 14:33:38.167,2022-11-11,2022-11-11 00:00:00,2022-11-11,NaT,720.00,0.0,0
7097,F39987,4649,E,2.0,2023-01-24 13:58:24.433,2023-01-24,2023-01-20 00:00:00,2023-01-24,NaT,1740.00,0.0,0
7098,F34025,4647,E,2.0,2021-01-28 12:10:58.210,2021-01-28,2021-01-28 00:00:00,2021-01-28,NaT,561.88,0.0,0
7099,F34026,4647,E,2.0,2021-01-28 12:22:39.260,2021-01-28,2021-01-28 00:00:00,2021-01-28,NaT,689.12,0.0,0

In [13]:
#7-Index= CVE_VEND (valores: 1, 2)  (columna: FECHAELAB)
#filtro = df[['FECHAELAB','CVE_VEND']][(df["CVE_VEND"] == 1) | (df["CVE_VEND"] == 2)]

df1= pd.read_excel("Datos de Facturaci√≥n.xlsx", index_col=3)
filtro7=df1.loc[[1.0,2.0], ["FECHAELAB"]]
filtro7

                       FECHAELAB
CVE_VEND
1.0      2023-01-30 14:35:41.680
1.0      2022-12-19 16:28:24.723
1.0      2022-12-05 15:36:21.117
1.0      2022-10-31 16:39:20.593
1.0      2022-10-26 11:02:56.793
...                          ...
2.0      2022-06-03 09:19:22.850
2.0      2022-08-17 10:13:18.113
2.0      2022-10-26 12:58:52.463
2.0      2023-01-04 11:02:10.957
2.0      2022-04-29 10:26:16.497

[8664 rows x 1 columns]